* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Fredoka", sans-serif;
  font-size: 100%;
}

/* Palette
#e53173 title
#0f0e17 cards
#45bddf mail */

/* UTILITY */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

main {
  width: 70%;
  margin: 0 auto;
}

/* HEADER */
header {
  text-align: center;
}
h1 {
  color: #e53173;
  padding: 1em;
}

/* TEAM SECTION */

.container {
  padding-top: 1em;
  /* background-color: red; */
  /* border: 1px solid black; */
}

.card {
  background-color: #0f0e17;
  width: calc(100% / 3 - 1em);
  float: left;
  margin-right: 1.5em;
  margin-bottom: 2em;
  margin-top: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* CARDS TEXT */
.card-text {
  float: left;
  padding-left: 1em;
}
.name {
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}
.role {
  color: white;
  padding-bottom: 0.3em;
}
.mail {
  color: #45bddf;
  padding-bottom: 0.5em;
}

.card:nth-child(3),
.card:nth-child(6) {
  margin-right: 0;
}

/* CARD IMG */
.card img {
  float: left;
  height: 100px;
}
